[submodule "redmine"]
	path = redmine
	url = git://github.com/edavis10/redmine.git
[submodule "plugins/github_hook"]
	path = plugins/github_hook
	url = git://github.com/koppen/redmine_github_hook.git
[submodule "plugins/redmine_redcarpet_formatter"]
	path = plugins/redmine_redcarpet_formatter
	url = git://github.com/alminium/redmine_redcarpet_formatter.git
