[submodule "redmine"]
	path = redmine
	url = git://github.com/edavis10/redmine.git
[submodule "plugins/github_hook"]
	path = plugins/github_hook
	url = git://github.com/koppen/redmine_github_hook.git
[submodule "plugins/timesheet_plugin"]
	path = plugins/timesheet_plugin
	url = git://github.com/techarete/redmine_timesheet_plugin.git
