[submodule "redmine"]
	path = redmine
	url = git://github.com/edavis10/redmine.git
[submodule "plugins/github_hook"]
	path = plugins/github_hook
	url = git://github.com/koppen/redmine_github_hook.git
